@font-face {
   font-family: 'Exo';
   src: url('../fonts/Exo2.0-Thin.eot');
   src: local('☺'),
      url('../fonts/Exo2.0-Thin.otf') format('otf'),
      url('../fonts/Exo2.0-Thin.woff') format('woff'),
      url('../fonts/Exo2.0-Thin.ttf') format('truetype'),
      url('../fonts/Exo2.0-Thin.svg') format('svg');
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: 'Trebuchet';
   src: url('../fonts/trebuc.eot');
   src: local('☺'),
      url('../fonts/trebuc.otf') format('otf'),
      url('../fonts/trebuc.woff') format('woff'),
      url('../fonts/trebuc.ttf') format('truetype'),
      url('../fonts/trebuc.svg') format('svg');
   font-weight: normal;
   font-style: normal;
}