$fontExo: "Exo";
$fontTrebuchet: "Trebuchet";
$FontsColorText : #666;
$FontsColorText2 : #fff;
$FontsColorLink :#198ec9;
$FontsColorLink-hover: #2ea8e6;
$FontsColorText3:#ffff66;
$BorderCard1: #d91667;
$BorderCard1-hover: #e62e7a;
$BorderCard2 :#b3b3b3;
$BorderCard2Color: #e4e4e4;